[submodule "static/code/bookshelf"]
	path = static/code/bookshelf
	url = git@github.com:abaj8494/bookshelf.git
[submodule "static/code/ccs"]
	path = static/code/ccs
	url = https://github.com/abaj8494/classical-cs.git
[submodule "static/code/csp"]
	path = static/code/csp
	url = https://github.com/abaj8494/cs-projects.git
[submodule "static/code/latex"]
	path = static/code/latex
	url = https://github.com/abaj8494/latex.git
[submodule "static/code/10khrs-ai-ml-dl"]
	path = static/code/10khrs-ai-ml-dl
	url = https://github.com/abaj8494/10khrs-ai-ml-dl
[submodule "static/code/abaj8494"]
	path = static/code/abaj8494
	url = https://github.com/abaj8494/abaj8494
[submodule "static/code/abaj8494.github.io"]
	path = static/code/abaj8494.github.io
	url = https://github.com/abaj8494/abaj8494.github.io
[submodule "static/code/font2splines"]
	path = static/code/font2splines
	url = https://github.com/abaj8494/font2splines
[submodule "static/code/trades"]
	path = static/code/trades
	url = https://github.com/abaj8494/trades
[submodule "static/code/games"]
	path = static/code/games
	url = https://github.com/abaj8494/games
[submodule "static/code/icons"]
	path = static/code/icons
	url = https://github.com/abaj8494/icons
[submodule "static/code/knights-tour"]
	path = static/code/knights-tour
	url = https://github.com/abaj8494/knights-tour
[submodule "static/code/gol"]
	path = static/code/gol
	url = https://github.com/abaj8494/gol
[submodule "static/code/keychron"]
	path = static/code/keychron
	url = https://github.com/abaj8494/keychron
[submodule "static/code/static/code/bananagrams"]
	path = static/code/bananagrams
	url = https://github.com/abaj8494/bananagrams
[submodule "static/code/adv-algorithms"]
	path = static/code/adv-algorithms
	url = https://github.com/abaj8494/adv-algorithms
[submodule "static/code/hashi"]
	path = static/code/hashi
	url = https://github.com/abaj8494/hashi
[submodule "static/code/shrine"]
	path = static/code/shrine
	url = https://github.com/abaj8494/shrine
[submodule "static/doc/math"]
	path = static/doc/math
	url = https://github.com/abaj8494/math
[submodule "static/code/bytelocker"]
	path = static/code/bytelocker
	url = https://github.com/abaj8494/bytelocker
[submodule "static/code/computer-vision"]
	path = static/code/computer-vision
	url = https://github.com/abaj8494/computer-vision
[submodule "static/code/100-days-js"]
	path = static/code/100-days-js
	url = https://github.com/abaj8494/100-days-js
