[submodule "static/code/bookshelf"]
	path = static/code/bookshelf
	url = git@github.com:abaj8494/bookshelf.git
[submodule "static/code/ccs"]
	path = static/code/ccs
	url = https://github.com/abaj8494/classical-cs.git
[submodule "static/code/csp"]
	path = static/code/csp
	url = https://github.com/abaj8494/cs-projects.git
[submodule "static/code/latex"]
	path = static/code/latex
	url = https://github.com/abaj8494/latex.git
[submodule "static/code/10khrs-ai-ml-dl"]
	path = static/code/10khrs-ai-ml-dl
	url = https://github.com/abaj8494/10khrs-ai-ml-dl
