.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100%;
  /* height was once 100vh; */
}

main {
  align-items: start;
  display: grid;
  grid-area: main;
  grid-template-areas: "empty content sidebar";
  grid-template-columns: 1fr minmax(0, 1000px) 1fr; /* Adjust the width of the left sidebar as needed */
  gap: 1rem; /* Add some gap between columns */
}

header {
  background: var(--bg1);
  grid-area: header;
}

footer {
  grid-area: footer;
}

main,
footer {
  margin: 0.5em 1.1em;
}

.content {
  grid-area: content;
}

.content {
  & a {
    color: var(--primary-alt);
  }

  & a:hover {
    color: var(--primary);
  }
  & a[href^="http://"]:not([href*="localhost"]):not([href*="192.168.1.113"]):not([href^="http://abaj.ai"])::after,
  a[href^="https://"]:not([href*="localhost"]):not([href*="192.168.1.113"]):not([href^="https://abaj.ai"])::after
  {
    content: "\2009↗";
    font-size: 0.9em;
    color: inherit;
  }
}

.sidebar {
  display: none;
  flex-direction: column;
  grid-area: sidebar;
  margin-top: 3rem;
  position: sticky;
  top: 2rem;
}

.sidebar-tree {
  font-family: var(--font-monospace);
  max-width: 400px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-top: 10rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
  z-index: 10;
  position: sticky;
  top: 60px;

  & a {
    color: var(--primary-alt);
  }
  & a:hover {
    color: var(--primary);
  }
}
@media (max-width: 768px) {
  .sidebar-tree {
    display: none; /* Hides sidebar-tree on smaller screens */
  }
}

/* Optional: Hide at very small widths (e.g., zoomed out) */
@media (max-width: 400px) {
  .sidebar-tree {
    display: none; /* Further hides sidebar-tree on extreme zoom-out */
  }
}

@media (min-width: 769px) {
  .sidebar {
    display: block !important;
    position: relative; /* Ensure it behaves normally in the layout */
    z-index: 10; /* Ensure the sidebar does not overlap other elements */
  }
}

.sidebar-tree.hidden {
  transform: translateY(-100%); /* Use transform instead of top */
  opacity: 0;
  transition: transform 1s ease;
}
