<div class="collapsible-container">
  <script src="{{ "js/collapsible-local.js" | relURL }}"></script>
  <style id="collapsible-css">
    .collapsible-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }

    
    .toggle-button {
      cursor: pointer;
      border: none;
      background: none;
      color: black;
      font-size: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      line-height: 1.5rem;
      margin-right: 8px; /* Adjust spacing between button and heading */
      padding: 0;
    }

    [data-theme="dark"] .toggle-button {
      color: white;
    }

    .toggle-button:focus {
      outline: none;
    }

    .collapsible-content {
      display: none;
      margin-left: 15px; /* Indent to align content with the heading */
      margin-bottom: 0px;
      padding: 1px 0;
      border-left: 0px solid #ccc;
      transition: all 0.3s ease-out;
    }

    .collapsible-content.show {
      display: block;
    }
  </style>
  <script type="text/javascript">
    var folded = '{{ .Get "folded" }}';
  </script>
</div>
